.aos-animate {
  opacity: 1;
  transform: translate(0, 0);
}
@media (min-width: 1200px) {
  h2 {
    font-size: 2rem;
  }
}
h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3 {
    font-size: 1.75rem;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
}

@media (min-width: 768px) {
  .mt-md-0 {
    margin-top: 0 !important;
  }
}

@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
section {
  padding: 60px 0;
  overflow: hidden;
  /* margin-top: 5.5rem; */
}
.section-title {
  text-align: center;
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  color: #222222;
}
.section-title h2::before,
.section-title h2::after {
  content: "";
  width: 50px;
  height: 2px;
  background: #14279b;
  display: inline-block;
}
.section-title h2::before {
  margin: 0 15px 10px 0;
}
.section-title h2::after {
  margin: 0 0 10px 15px;
}
.contact .contact-about h3 {
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
  color: #14279b;
}
.contact .contact-about p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Raleway", sans-serif;
  color: #888;
}
.contact .info {
  color: #444444;
}
.contact .info i {
  font-size: 32px;
  color: #14279b;
  float: left;
  line-height: 1;
}
.contact .info p {
  padding: 0 0 10px 42px;
  line-height: 28px;
  font-size: 14px;
}
.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
.contact .php-email-form .form-group {
  margin-bottom: 20px;
}
.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  padding: 10px 15px;
}
.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #14279b;
}
.contact .php-email-form button[type="submit"] {
  background: #14279b;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}
.contact .php-email-form button[type="submit"]:hover {
  background: #2383c4;
}
.contact {
  padding: 60px 0;
}

/* .contact .contact-about {
  background: #f7f7f7;
  padding: 30px;
  border-radius: 5px;
} */

.contact .info {
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
}

.contact .php-email-form .form-group {
  margin-bottom: 15px;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  padding: 10px;
  text-align: center;
  color: #666666;
}

.contact .php-email-form .error-message {
  display: none;
  background: #f8d7da;
  color: #721c24;
  padding: 10px;
  text-align: center;
}

.contact .php-email-form .sent-message {
  display: none;
  background: #d4edda;
  color: #155724;
  padding: 10px;
  text-align: center;
}

.contact .php-email-form .sent-message.active {
  display: block;
}
