/* Common styles */
#header {
  z-index: 997;
  transition: all 0.5s;
  padding: 22px 0;
  background: #fff;
}

#header .logo h1 {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
}

#header .logo img {
  padding-bottom: 5px;
  margin: 0;
  max-height: 70px;
}

/* Desktop navbar styles */
.navbar {
  display: flex;
  align-items: center;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  position: relative;
}

.navbar a {
  display: flex;
  align-items: center;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  font-weight: 400;
  color: #555555;
  transition: 0.3s;
}

.navbar a:hover,
.navbar .active,
.navbar li:hover > a {
  color: #14279b;
}

.navbar .getstarted {
  background: #14279b;
  padding: 8px 25px;
  margin-left: 30px;
  border-radius: 50px;
  color: #fff;
}

.navbar .getstarted:hover {
  background: #4aa3df;
  color: #fff;
}

/* Mobile navbar styles */
.mobile-nav-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .navbar ul {
    display: none;
  }

  .navbar.navbar-mobile ul {
    display: block;
  }

  .mobile-nav-toggle {
    display: block;
  }

  .navbar {
    display: none;
  }

  .navbar.navbar-mobile {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(9, 9, 9, 0.9);
    z-index: 999;
    transition: 0.3s;
  }

  .navbar.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px;
    background: #fff;
    border-radius: 8px;
    overflow-y: auto;
    transition: 0.3s;
  }

  .navbar.navbar-mobile a {
    padding: 10px 20px;
    font-size: 15px;
    color: #222;
  }

  .navbar.navbar-mobile a:hover,
  .navbar.navbar-mobile .active,
  .navbar.navbar-mobile li:hover > a {
    color: #14279b;
  }

  .navbar.navbar-mobile .getstarted {
    margin: 15px;
  }
}
