@media (min-width: 1200px) {
  h2 {
    font-size: 2rem;
  }
}
h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3 {
    font-size: 1.75rem;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media (min-width: 768px) {
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
}
@media (min-width: 992px) {
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
}
.mt-4 {
  margin-top: 1.5rem !important;
}
@media (min-width: 768px) {
  .mt-md-0 {
    margin-top: 0 !important;
  }
}
@media (min-width: 992px) {
  .mt-lg-0 {
    margin-top: 0 !important;
  }
}

.ri-advertisement-fill:before {
  content: "\ea16";
}
.ri-bar-chart-grouped-line:before {
  content: "\ea9b";
}
.ri-calendar-event-line:before {
  content: "\eb25";
}
.ri-code-box-line:before {
  content: "\eba7";
}
.ri-contacts-book-line:before {
  content: "\ebce";
}
.ri-creative-commons-by-line:before {
  content: "\ebf2";
}
.ri-disc-line:before {
  content: "\ec36";
}
.ri-map-pin-line:before {
  content: "\ef14";
}
.ri-play-circle-line:before {
  content: "\f009";
}
.ri-search-eye-line:before {
  content: "\f0cf";
}
.ri-todo-line:before {
  content: "\f217";
}
.ri-window-line:before {
  content: "\f2c6";
}

a {
  color: #14279b;
  text-decoration: none;
}
a:hover {
  color: #5faee3;
  text-decoration: none;
}
h2,
h3 {
  font-family: "Raleway", sans-serif;
}
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
section {
  padding: 60px 0;
  overflow: hidden;
}
.section-title {
  text-align: center;
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  color: #222222;
}
.section-title h2::before,
.section-title h2::after {
  content: "";
  width: 50px;
  height: 2px;
  background: #14279b;
  display: inline-block;
}
.section-title h2::before {
  margin: 0 15px 10px 0;
}
.section-title h2::after {
  margin: 0 0 10px 15px;
}
.section-title p {
  margin: 15px 0 0 0;
}
.features .icon-box {
  display: flex;
  align-items: center;
  padding: 20px;
  background: #f6f6f6;
  transition: ease-in-out 0.3s;
}
.features .icon-box i {
  font-size: 32px;
  padding-right: 10px;
  line-height: 1;
}
.features .icon-box h3 {
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 16px;
}
.features .icon-box h3 a {
  color: #222222;
  transition: ease-in-out 0.3s;
}
.features .icon-box h3 a:hover {
  color: #14279b;
}
.features .icon-box:hover {
  background: #eef7fc;
}
